<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Id="KomKom.Setup"
    Name="KomKom"
    Manufacturer="KomKom"
    Version="1.0.1"
    UpgradeCode="4E0B1E5F-3F3A-4D8B-9C0E-1C9E7B5E7B2A"
    Compressed="yes"
    Scope="perMachine">
    <MajorUpgrade DowngradeErrorMessage="A newer version of KomKom is already installed." />
    <MediaTemplate />

    <Feature Id="MainFeature" Title="KomKom" Level="1">
      <ComponentGroupRef Id="AppFiles" />
      <ComponentGroupRef Id="ShortcutComponents" />
    </Feature>
  </Package>

  <Fragment>
    <StandardDirectory Id="ProgramFilesFolder">
      <Directory Id="INSTALLFOLDER" Name="KomKom" />
    </StandardDirectory>

    <StandardDirectory Id="DesktopFolder" />

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="AppProgramMenuFolder" Name="KomKom" />
    </StandardDirectory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="AppFiles" Directory="INSTALLFOLDER">
      <Files Include="$(var.PublishDir)**\*" />
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <Icon Id="KomKomIcon" SourceFile="$(var.KomKomIcon)" />

    <ComponentGroup Id="ShortcutComponents" Directory="INSTALLFOLDER">
      <Component Id="ApplicationShortcuts" Guid="*">
        <RegistryValue Root="HKCU" Key="Software\KomKom" Name="Installed" Type="integer" Value="1" KeyPath="yes" />

        <Shortcut Id="DesktopShortcut"
                  Directory="DesktopFolder"
                  Name="KomKom"
                  Target="[INSTALLFOLDER]KomKom.exe"
                  WorkingDirectory="INSTALLFOLDER"
                  Icon="KomKomIcon"
                  IconIndex="0" />

        <Shortcut Id="StartMenuShortcut"
                  Directory="AppProgramMenuFolder"
                  Name="KomKom"
                  Target="[INSTALLFOLDER]KomKom.exe"
                  WorkingDirectory="INSTALLFOLDER"
                  Icon="KomKomIcon"
                  IconIndex="0" />

        <RemoveFolder Id="RemoveProgramMenuFolder" Directory="AppProgramMenuFolder" On="uninstall" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>